<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User</title>
</head>
<body>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary">User</button>
    </div>
    <div class="container">
        <h3>User information - page <span class="badge badge-secondary"></span></h3>
        <div class="col">
            <table class="table table-bordered">
                <h5>About User <span class="badge badge-secondary"></span></h5>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-active">
                    <th scope="row"><p th:text="${userById.getId()}">userId</p></th>
                    <td><p th:text="${userById.getUsername()}">userName</p></td>
                    <td><p th:text="${userById.getSecondName()}">userSecondName</p></td>
                    <td><p th:Text="${userById.getRole()}">Role</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>

<!--<div align="center">-->
<!--    <p th:text="${userById.getId()}">userId</p>-->
<!--    <p th:text="${userById.getUsername()}">userName</p>-->
<!--    <p th:text="${userById.getPassword()}">userPassword</p>-->
<!--    <p th:Text="${userById.getRole()}">Role</p>-->
<!--    <a th:href="@{/admin/{id}/update(id=${userById.getId()})}">Update</a>-->
<!--    <form th:method="DELETE" th:action="@{/admin/{id}(id=${userById.getId()})}">-->
<!--        <input type="submit" value="Delete"/>-->
<!--    </form>-->
<!--</div>-->
<!--</div>-->
<!--<div th:align="bottom">-->
<!--    <form th:method="GET" th:action="@{/logout}">-->
<!--        <input type="submit" value="exit">-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->